<div class="ast_pagetitle">
    <div class="ast_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="page_title">
                        <h2>{{article.title}}</h2>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="breadcrumb">
                        <li><a routerLink="/">Home</a></li>
                        <li>//</li>
                        <li><a routerLink="/articles">Articles</a></li>
                        <li>//</li>
                        <li><a>{{article.title}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Breadcrumb end-->
    <!--Blog section start-->
    <div class="ast_blog_wrapper ast_toppadder80 ast_bottompadder80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="ast_blog_box">
                        <div class="ast_blog_img">
                            <span class="ast_date_tag">{{article.date.toDateString()}}</span>
                            <img [src]="article.imageUrl" alt="Blog" title="Blog">
                        </div>
                        <div class="ast_blog_info">
                            <ul class="ast_blog_info_text">
                                <li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 28 comments</a></li>
                                <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Andrew Coyne</a></li>
                            </ul>
                            <h3 class="ast_blog_info_heading">{{article.title}}</h3>
                            <p class="ast_blog_info_details">{{article.description}}</p>
                        </div>
                    </div>
                    <div class="ast_blog_comment_wrapper">
                        <h4 class="ast_blog_heading">all comments</h4>
                        <ul>
                            <li>
                                <div class="ast_blog_comment">
                                    <div class="ast_comment_image">
                                        <img src="images/content/bloger_1.jpg" alt="">
                                    </div>
                                    <div class="ast_comment_text">
                                        <h5 class="ast_bloger_name">Andrew Coyne</h5>
                                        <span class="ast_blog_date">May 12, 2018</span>
                                        <p class="ast_blog_post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vehicula mauris ac facilisis congue. Fusce sem enim, rhoncus volutpat condimentum ac, placerat semper ligula. Suspendisse in viverra justo, eu placerat urna. Vestibulum blandit diam suscipit nibh mattis ullamcorper. Nullam a condimentum nulla, ut facilisis enim. </p>
                                        <a href="#" class="ast_comment_reply">Reply</a>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                        <div class="ast_blog_comment">
                                            <div class="ast_comment_image">
                                                <img src="images/content/bloger_2.jpg" alt="">
                                            </div>
                                            <div class="ast_comment_text">
                                                <h5 class="ast_bloger_name">Elexa Styan</h5>
                                                <span class="ast_blog_date">May 13, 2018</span>
                                                <p class="ast_blog_post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vehicula mauris ac facilisis congue. Fusce sem enim, rhoncus volutpat condimentum ac, placerat semper ligula. Suspendisse in viverra justo, eu placerat urna. Vestibulum blandit diam suscipit nibh mattis ullamcorper. Nullam a condimentum nulla, ut facilisis enim. </p>
                                                <a href="#" class="ast_comment_reply">Reply</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="ast_blog_comment">
                                    <div class="ast_comment_image">
                                        <img src="images/content/bloger_3.jpg" alt="">
                                    </div>
                                    <div class="ast_comment_text">
                                        <h5 class="ast_bloger_name">Sarah Silvester</h5>
                                        <span class="ast_blog_date">May 14, 2018</span>
                                        <p class="ast_blog_post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vehicula mauris ac facilisis congue. Fusce sem enim, rhoncus volutpat condimentum ac, placerat semper ligula. Suspendisse in viverra justo, eu placerat urna. Vestibulum blandit diam suscipit nibh mattis ullamcorper. Nullam a condimentum nulla, ut facilisis enim. </p>
                                        <a href="#" class="ast_comment_reply">Reply</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ast_blog_comment">
                                    <div class="ast_comment_image">
                                        <img src="images/content/bloger_4.jpg" alt="">
                                    </div>
                                    <div class="ast_comment_text">
                                        <h5 class="ast_bloger_name">Cody Duff</h5>
                                        <span class="ast_blog_date">May 15, 2018</span>
                                        <p class="ast_blog_post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vehicula mauris ac facilisis congue. Fusce sem enim, rhoncus volutpat condimentum ac, placerat semper ligula. Suspendisse in viverra justo, eu placerat urna. Vestibulum blandit diam suscipit nibh mattis ullamcorper. Nullam a condimentum nulla, ut facilisis enim. </p>
                                        <a href="#" class="ast_comment_reply">Reply</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="ast_blog_message_wrapper">
                        <h4 class="ast_blog_heading">Leave a reply</h4>
                        <div class="ast_blog_messages">
                            <form>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <textarea rows="5" placeholder="Your Message"></textarea>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <input type="text" placeholder="Name*">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <input type="email" placeholder="Email*">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <a href="#" id="ed_submit" class="ast_btn">reply</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Blog section end-->